@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

.bg-main {
    /* background: #224071; */
    background: rgb(24,32,120);
    background: linear-gradient(45deg, rgba(24,32,120,1) 0%, rgba(17,23,87,1) 50%, rgba(14,18,69,1) 100%); 
}